@font-face {
  font-family: 'rightland' ;
  src: url(/fonts/Rightland.ttf);
}

#logoledidi{
  width: 100%;
  height: auto;
  display: block;
}
.navbar-brand {
  font-family: 'rightland';
  font-size: 30px;
  padding: 10px 0 0 80px;
}

.nav-item{
  font-weight: 500;
  font-size: 19px;
}

.nav-link{
  color: black;
}

body{
  background-color: black;
}
#home-figuras{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.imagens-trabalhos{
  border: 4px solid #D4AF37;  
}

#quem-somos{
  color: #D4AF37;
  padding: 5px 25px;
}

#servicos-oferecidos{
  color: #D4AF37;
  padding: 5px 50px;
  margin-bottom: 0px;
}

#lista-servicos{
  list-style: none;
  margin-top: 1rem;
  padding: 0 0 0 0;
  display: flex;
  justify-content: space-around;
    
}

#agendamento{
  margin: 0 0 0 0;
  padding: 50px 25px;
  color: #D4AF37;
}

main{
  min-height: 50rem;
}

form{
  padding: 5px 25px;
}

form label{
  display: block;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.input-name {
  display: block;
  margin-bottom: 20px;
  padding: 10px 25px;
  width: 30%;
  height: 35px;
}

.input-tel{
  display: block;
  margin-bottom: 20px;
  padding: 10px 25px;
  width: 30%;
  height: 35px;
}

.input-date{
  display: block;
  margin-bottom: 20px;
  padding: 10px 25px;
  width: 30%;
  height: 35px;
}

footer{
  color: #D4AF37;
}

.div-logo{
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin: 0 0 0 50px;
  display: flex;
  flex-direction: column;
  height: 0;
}

#coluna-central{
  padding: 0 0 0 0;
}

#endereco-footer{
  padding: 0 0 0 55rem;
}

#fc-footer{
  padding: 0 0 0 55rem;
}

#contact-footer{
  padding: 0 0 0 55rem;
}

#redes-footer{
  padding: 0 0 0 90rem;
}

.titulos{
  font-size: 28px;
}

.subtitulos{
  font-size: 20px;
  color: #a6acaf;
}

.footer-completo{
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 8rem;
}

#footer-final{
  padding: 50px 0 0 0;
  color: #D4AF37;
  text-align: center;
}